<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="999395">  <td>20/03/19 18:09:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBaseSetup.initializeTestBaseSetup()[pri:0, instance:com.gmail.TestCases.verifyGmailLogin@7d0587f1]">&gt;&gt;initializeTestBaseSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@648525677</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>20/03/19 18:09:38</td>   <td>22235</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBaseSetup.quitDriver()[pri:0, instance:com.gmail.TestCases.verifyGmailLogin@7d0587f1]">&lt;&lt;quitDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@648525677</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>20/03/19 18:09:30</td>   <td>15090</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;verifyGmailLogin.setUp()[pri:0, instance:com.gmail.TestCases.verifyGmailLogin@7d0587f1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@648525677</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>20/03/19 18:09:30</td>   <td>15114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="verifyGmailLogin.verifyBasicLogin()[pri:0, instance:com.gmail.TestCases.verifyGmailLogin@7d0587f1]">verifyBasicLogin</td> 
  <td>main@648525677</td>   <td></td> </tr>
</table>
