<h2>Reporter output</h2><table><tr><td>from type username method</td></tr>
<tr><td>Google logo is available</td></tr>
<tr><td>Sign in text available</td></tr>
<tr><td>from type password before wait</td></tr>
<tr><td>from wait element method</td></tr>
</table>